.heroStartName {
    animation: heroTextNm 2s ease forwards;
    overflow: hidden;
}

@keyframes heroTextNm {
    0% {transform:translateX(-200%)}
    100% {transform:translateX(0%)}
}


@keyframes heroTextKw {
    0% {transform:translateX(-100%)}
    50% {transform:translateX(-100%)}
    100% {transform:translateX(0%)}
}

.heroStartKeyword1 {
    animation: heroTextKw 2000ms ease forwards;
}

.heroStartKeyword2 {
    animation: heroTextKw 3000ms ease forwards;
}

.heroStartKeyword3 {
    animation: heroTextKw 4000ms ease forwards;
}

.heroLinks {
    animation: linkScale 4500ms ease forwards;
    transform-origin: 50% 50%;
}

@keyframes linkScale {
    0% {
        transform: scale(0%);
    }
    80% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}

.myImg {
    animation: myImgAnimation 3s ease forwards;
}

@keyframes myImgAnimation {
    from {
        scale: 0%;
        rotate: -45deg;
    }
    to {
        scale: 100%;
        rotate: 0deg;
    }
}