.heroStartName {
    animation: heroTextNm 3s ease forwards;
    overflow: hidden;
}

@keyframes heroTextNm {
    0% {transform:translateX(-200%)}
    100% {transform:translateX(0%)}
}

.heroStartKeywords {
    animation: heroTextKw 3s ease forwards;
    overflow: hidden;
}

@keyframes heroTextKw {
    0% {transform:translateX(-100%)}
    100% {transform:translateX(0%)}
}

.heroLinks {
    animation: scale 3s ease forwards;
}

@keyframes scale {
    from {
        transform: scale(0%);
    }
    to {
        transform: scale(100%);
    }
}